body {
	font-family: 'PT Sans', sans-serif;
	color: #8F8F8F;
}

h2 {
	font-size: 18px;
	text-transform: uppercase;
	padding-bottom: 15px;
	text-align: center;
}

a {
	color: #7b8f8a;
}

a:hover {
	color: #546569;
	transition: all 0.5s ease;
}

.navigation ul {
	list-style-type: none;
	text-align: center;
	padding-left: 0px;
	text-transform: uppercase;	
	padding: 35px 0 20px 0;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
}

.navigation li:nth-child(2) {
    font-size: 30px;
}

.navigation ul li {
	display: inline-block;
	margin: 0 20px;
	font-size: 20px;
	align-self: baseline;
}

@media screen and (max-width: 775px) {
	.navigation ul li {
		font-size: 16px;
		margin: 0 16px;
	}
	.navigation li:nth-child(2) {
    	font-size: 20px;
	}
}

.navigation ul li a {
	text-decoration: none;
}

.navigation ul li .active {
	border-bottom: 2px solid #7b8f8a;
}

.message-area {
	width: 100%;
	min-height: 80px;
	background-color: #CED7D5;	
	font-family: 'Sacramento', cursive;
	font-size: 35px;
}

.message-area p {
	padding: 30px 0px 10px 0px;
	text-align: center;
}

.page-block {
	margin: 0 auto;
	padding: 40px 20px;
	max-width: 1020px;
	display: flex;
}

@media screen and (max-width: 775px) {
	.page-block {
		flex-direction: column;
	}
}

.intro-image {
    flex: 1;
    text-align: center;
}

.intro-text {
    flex: 1;
}

@media screen and (max-width: 775px) {
	.intro-text {
	    padding-top: 20px;
	}
}

.page-block p {
	line-height: 22px;
}

.image-container {
	padding-bottom: 100px;
}

.image-container ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.image-container ul li {
	padding: 10px 5px;
}

.image-container ul li:hover {
	transform: scale(1.05);
	transition: all 0.5s ease;
}

.footer {
	text-align: center;
	padding: 25px 0 10px 0;
    background-color: #FAFAFA;	
    border-top: 1px solid #CED7D5;
    width: 100%;
    bottom: 0;
	position: fixed;
}

.footer p {
	font-size: 14px;
}

.footer ul {
    display: flex;
    justify-content: center;
}

.footer ul li {
	padding: 10px 5px;
}
