body {
	font-family: 'PT Sans', sans-serif;
	color: #8F8F8F;
}

.wrapper {
	margin: 0 auto;
}

h2 {
	font-size: 18px;
	text-transform: uppercase;
	padding-bottom: 15px;
	text-align: center;
}

a {
	color: #7b8f8a;
}

a:hover {
	color: #546569;
	transition: all 0.5s ease;
}

.navigation ul {
	list-style-type: none;
	text-align: center;
	padding-left: 0px;
	text-transform: uppercase;	
	padding: 35px 0 20px 0;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
}

.navigation li:nth-child(2) {
    font-size: 30px;
}

.navigation ul li {
	display: inline-block;
	margin: 0 20px;
	font-size: 20px;
	align-self: baseline;
}

.navigation ul li a {
	text-decoration: none;
}

.navigation ul li .active {
	border-bottom: 2px solid #7b8f8a;
}

.message-area {
	width: 100%;
	min-height: 80px;
	background-color: #CED7D5;	
	font-family: 'Sacramento', cursive;
	font-size: 35px;
}

.message-area p {
	padding: 30px 0px 10px 0px;
	text-align: center;
}

.page-block {
	margin: 0 auto;
	padding: 20px;
}

.image-container {
    margin: 0px auto;
	display: flex;
	justify-content: center;
    margin: 0 auto;
}

.image-container ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.image-container ul li {
	padding: 10px 5px;
}

.image-container ul li:hover {
	transform: scale(1.05);
	transition: all 0.5s ease;
}

.footer {
	text-align: center;
	padding: 25px 0 10px 0;
    background-color: #FAFAFA;	
    border-top: 1px solid #CED7D5;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer p {
	font-size: 14px;
}

.footer ul {
    display: flex;
    justify-content: center;
}

.footer ul li {
	padding: 10px 5px;
}
